<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시글 작성</h1>
<form action="/save" method="post" enctype="multipart/form-data">
    제목: <input type="text" name="boardTitle"><br>
    작성자: <input type="text" name="boardWriter"><br>
    비밀번호: <input type="text" name="boardPass"><br>
    내용: <textarea name="boardContents" cols="30" rows="10"></textarea></br>
    <input type="submit" value="작성">
</form>
</body>
</html>